.menuBtn {
    -fx-background-color : #5100FC;
    -fx-padding: 0;
    -fx-font-size: 32;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 6;
}

.menuBtn:hover {
    -fx-background-color : #7332FC;
}

.menuBtn:pressed {
    -fx-background-color : #5100FC;
}

.menuBtn:disabled {
    -fx-background-color : #696969;
    -fx-opacity: 1.0;
}
