.loadBtn {
    -fx-background-color  : #5100FC;
    -fx-text-fill         : #FFFFFF;
    -fx-background-radius : 32;
    -fx-font-size         : 40;
    -fx-font-weight       : bold;
    -fx-border-radius     : 32;
    -fx-border-color      : #000000;
    -fx-border-width      : 1;
    -fx-padding           : 0;
}

.loadBtn:hover {
    -fx-background-color : #7332FC;
}

.loadBtn:pressed {
    -fx-background-color : #5100FC;
}


.credentialsTF {
    -fx-background-color : #C6B3EF;
}

.credentialsTF:hover {
    -fx-background-color : #D1C2F2;
}

.credentialsTF:focused {
    -fx-background-color : #D1C2F2;
}